@model HansonFoods.Models.FoodItem
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>URL: @Model.Url</li>
    <li>Email: @Model.Email</li>
    <li>Rating: @Model.Rating</li>

</ul>

