@model IEnumerable<HansonFoods.Models.FoodItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Food Items</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Food Item</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var foodItem in Model)
        {
            <tr>
                <td> @Html.ActionLink(foodItem.Name, "Details", "FoodItems", new { id = foodItem.Id }, null) </td>
                </tr>
        }
    </tbody>
</table>

